/**
 * Border utility classes
 */

/* additive borders */
.b {
  border-style: solid;
}

.bt {
  border-top-style: solid;
}

.bb {
  border-bottom-style: solid;
}

.bl {
  border-left-style: solid;
}

.br {
  border-right-style: solid;
}

.b, .bt, .bb, .bl, .br {
  border-color: $border-color-default;
  border-width: $border-width-default;
}

/* subtractive borders */
.b-0 {
  border-style: none;
}

.bt-0 {
  border-top-style: none;
}

.bb-0 {
  border-bottom-style: none;
}

.bl-0 {
  border-left-style: none;
}

.br-0 {
  border-right-style: none;
}

/* border widths */ 
@include generate_class_selectors_from_map($border-widths);

/* border colors */ 
@include generate_class_selectors_from_map($border-colors);

/* border radius */
@include generate_class_selectors_from_map($border-radii);

.br-circular {
  border-radius: 100%;
}