/**
 * Links utility classes
 */

.link-no-underline, .link-underline-hover {
  text-decoration: none;
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
  @media screen and (min-width: $breakpoint-value) {
    .link-no-underline_#{$breakpoint-key}, .link-underline-hover_#{$breakpoint-key} { 
      text-decoration: none;
    }
  }
}

.link-underline-hover:hover {
  text-decoration: underline;
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
  @media screen and (min-width: $breakpoint-value) {
    .link-underline-hover_#{$breakpoint-key}:hover { 
      text-decoration: underline;
    }
  }
}


@each $color-key, $color-value in $colors {
  .link-visited-#{$color-key}:visited {
    color: $color-value;
  }
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
  @media screen and (min-width: $breakpoint-value) {
    @each $color-key, $color-value in $colors {
      .link-visited-#{$color-key}_#{$breakpoint-key}:visited {
        color: $color-value;
      }
    }
  }
}

