/**
 * Typography utility classes
 */


 /* sans-serif typeface */
.sans-serif {
  font-family: $font-family-sans-serif;
}

/* serif typeface */
.serif {
  font-family: $font-family-serif;
}

/* sans-serif typeface */
.mono {
  font-family: $font-family-mono;
}

/* type scale - headers */
@include generate_class_selectors_from_map($font-sizes);

/* line height */
@include generate_class_selectors_from_map($line-heights);

/* font-weight */
@include generate_class_selectors_from_map($font-weights);

/* font-styles */
@include generate_class_selectors_from_map($font-styles);

/* text-alignments */
@include generate_class_selectors_from_map($text-alignments);

/* text-colors */
@include generate_class_selectors_from_map($text-colors);

