// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use 'sass:map';
@use 'sass:math';

@mixin generate_grid_columns {
  @for $i from 0 to $column-number {
    .col-#{$i + 1} { 
      width:  percentage( math.div( $i + 1, $column-number ) );
      padding-left: math.div( $horizontal-gutter-width, 2 );
      padding-right: math.div( $horizontal-gutter-width, 2 );
    }
  }

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
      @for $i from 0 to $column-number {
        .col-#{$i + 1}_#{$breakpoint-key} { 
          width:  percentage( math.div( $i + 1, $column-number ) );
          padding-left: math.div( $horizontal-gutter-width, 2 );
          padding-right: math.div( $horizontal-gutter-width, 2 );
        }
      }
    }
  }
}

@mixin generate_class_selectors_from_map($map) {
  @each $value-key, $value-value in map.get($map, "values") {
    @if $value-key {
      #{map.get($map, "selector-prefix")}#{map.get($map, "prefix-seperator")}#{$value-key} { 
        #{map.get($map, "property-name")}: #{$value-value}; 
        @if map.get($map, "additional-properties") {
          @each $additional-properties-key, $additional-properties-value in map.get($map, "additional-properties") {
            #{$additional-properties-key}: #{$additional-properties-value};
          }
        }
      }
    }
    @else {
      #{map.get($map, "selector-prefix")} { 
        #{map.get($map, "property-name")}: #{$value-value}; 
        @if map.get($map, "additional-properties") {
          @each $additional-properties-key, $additional-properties-value in map.get($map, "additional-properties") {
            #{$additional-properties-key}: #{$additional-properties-value};
          }
        }
      }
    }
  }

  @if map.get($map, "responsive") {
    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media screen and (min-width: $breakpoint-value) {
        @each $value-key, $value-value in map.get($map, "values") {
          @if $value-key {
            #{map.get($map, "selector-prefix")}#{map.get($map, "prefix-seperator")}#{$value-key}_#{$breakpoint-key} { 
              #{map.get($map, "property-name")}: #{$value-value}; 
              @if map.get($map, "additional-properties") {
                @each $additional-properties-key, $additional-properties-value in map.get($map, "additional-properties") {
                  #{$additional-properties-key}: #{$additional-properties-value};
                }
              }
            }
          }
          @else {
            #{map.get($map, "selector-prefix")}_#{$breakpoint-key} { 
              #{map.get($map, "property-name")}: #{$value-value}; 
              @if map.get($map, "additional-properties") {
                @each $additional-properties-key, $additional-properties-value in map.get($map, "additional-properties") {
                  #{$additional-properties-key}: #{$additional-properties-value};
                }
              }
            }
          }
        }
      }
    }
  }
}


