// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@use 'sass:map';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; 
$font-family-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; 
$font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 

$font-sizes: (
  "selector-prefix": ".h",
  "responsive": false,
  "property-name": "font-size",
  "values": (
    "6": 1rem,
    "5": 1.25rem,
    "4": 1.5rem,
    "3": 2.25rem,
    "2": 3rem,
    "1": 5rem
  )
);

$default-font-size: map.get($font-sizes, "6");

$line-heights: (
  "selector-prefix": ".lh-",
  "property-name": "line-height",
  "responsive": false,
  "values": (
    "1": 1,
    "md": 1.25,
    "lg": 1.5
  )
);

$default-line-height: map.get($line-heights, "md");

$font-weights: (
  "selector-prefix": ".fw-",
  "property-name": "font-weight",
  "responsive": false,
  "values": (
    "100": 100,
    "200": 200,
    "300": 300,
    "400": 400,
    "500": 500,
    "600": 600,
    "700": 700,
    "800": 800,
    "900": 900,
    "normal": 400,
    "bold": 700
  )
);

$font-styles: (
  "selector-prefix": ".fs-",
  "property-name": "font-style",
  "responsive": false,
  "values": (
    "normal": normal,
    "italic": italic
  )
);

$text-alignments: (
  "selector-prefix": ".text-align-",
  "property-name": "text-align",
  "responsive": true,
  "values": (
    "left": left,
    "center": center,
    "right": right,
    "justify": justify
  )
);

$colors: (
  "blue":     #0d6efd,
  "indigo":   #6610f2,
  "purple":   #6f42c1,
  "pink":     #d63384,
  "red":      #dc3545,
  "orange":   #fd7e14,
  "yellow":   #ffc107,
  "green":    #198754,
  "teal":     #20c997,
  "cyan":     #0dcaf0,
  "white":    #fff,
  "gray-100": #f8f9fa,
  "gray-200": #e9ecef,
  "gray-300": #dee2e6,
  "gray-400": #ced4da,
  "gray-500": #adb5bd,
  "gray-600": #6c757d,
  "gray-700": #495057,
  "gray-800": #343a40,
  "gray-900": #212529,
  "black":    #000,
);

$text-colors: (
  "selector-prefix": ".text-",
  "property-name": "color",
  "responsive": true,
  "values": $colors
);

$background-colors: (
  "selector-prefix": ".bg-",
  "property-name": "background-color",
  "responsive": true,
  "values": $colors
);

$background-gradients: (
  "selector-prefix": ".bg-gradient-",
  "property-name": "background-image",
  "responsive": true,
  "values": (
    "1": linear-gradient(180deg, rgba(255, 255, 255, 0.329), rgba(255, 255, 255, 0)),
    "2": linear-gradient(180deg, rgba(255, 255, 255, 0.493), rgba(255, 255, 255, 0)),
    "3": linear-gradient(180deg, rgba(255, 255, 255, 0.747), rgba(255, 255, 255, 0))
  )
);

$border-widths: (
  "selector-prefix": ".bw-",
  "property-name": "border-width",
  "responsive": false,
  "values": (
    "0": .0625rem,
    "1": .125rem,
    "2": .25rem,
    "3": .5rem,
    "4": 1rem,
    "5": 2rem
  )
);

$border-width-default: map.get( map.get( $border-widths, "values"), "0" );

$border-colors: (
  "selector-prefix": ".bc-",
  "property-name": "border-color",
  "responsive": false,
  "values": $colors
);

$border-color-default: map.get( map.get( $border-colors, "values"), "black" );

$border-radii: (
  "selector-prefix": ".br-",
  "property-name": "border-radius",
  "responsive": false,
  "values": (
    "1": .25rem,
    "2": .5rem,
    "3": .75rem,
    "4": 1rem,
    "5": 2rem
  )
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px 
);

$horizontal-gutter-width: 1.5rem;
$vertical-gutter-width: 1.5rem;
$column-number: 12;